<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>

    <div class="text-center">
        <h1 class="text-danger text-uppercase">
            All Products Data
        </h1>

        <table class="table ">
            <thead>
                <tr>
                    <th scope="col" class="border border-end border-dark bg-secondary-subtle">#</th>
                    <th scope="col" class="border border-end border-dark bg-secondary-subtle">Product Name</th>
                    <th scope="col" class="border border-end border-dark bg-secondary-subtle"> Rate </th>
                    <th scope="col" class="border border-end border-dark bg-secondary-subtle">Catagory</th>
                    <th scope="col" class="border border-end border-dark bg-secondary-subtle">Price</th>
                    <th scope="col" class="border border-end border-dark bg-secondary-subtle">images</th>
                    <th scope="col" class="border border-end border-dark bg-secondary-subtle">Action</th>
                </tr>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(function(product,index){ %>
                    <tr>
                        <th class="border border-end border-dark" scope="row">
                            <%= index+1 %>
                        </th>
                        <td class="border border-end border-dark">
                            <%= product.Product_name %>
                        </td>
                        <td class="border border-end border-dark">
                            <%= product.rate %>
                        </td>
                        <td class="border border-end border-dark">
                            <%= product.catagory %>
                        </td>
                        <td class="border border-end border-dark">
                            <%= product.price %>
                        </td>
                        <td class="border border-end border-dark">
                            <img src="./<%= product.proimages %>" alt="image">
                        </td>
                        <td class="border border-end border-dark">
                            <button class="btn btn-danger">
                                <a href="/deleteproduct/<%= product.id %>" class="text-light">Delete</a>
                            </button>
                            ||
                            <button class="btn btn-primary">
                                <a href="/editproduct/<%= product.id %>" class="text-light">Edit</a>
                            </button>
                        </td>
                    </tr>
                    <% }); %>

            </tbody>
        </table>
        <button class="btn btn-primary">
            <a href="/" class="text-light">Add</a>
        </button>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>